.about-container{
 margin: 5% !important;
}
#about {
    height: 60px;
    color: white;
}
.toggle-text{
    cursor: pointer;
    font-weight: bold;
    /* color: #132942; */
    color: white;
}

@media screen and (max-width: 768px) {
    #about {
        height: 0;
    }
}