@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.sectionHeadW {
    font-size: 2em;
    color: white;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5%;
    background-color: transparent;
}

#problemstmt {
    height: 100%;
    overflow: hidden;
    padding: 5%;
    z-index: -1;
    background: url('../img/psbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .event-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

  .box {
    position: relative;
    height:  400px;
    width: 300px;
    display: block;
    background: linear-gradient(0deg, #132942, #11111E);
  }
  
  .glowing::before{
    z-index: 2;
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: glower 20s linear infinite !important;
}
  
  @keyframes glower {
    0% {
      background-position: 0 0;
    }
    
    50% {
      background-position: 400% 0;
    }
    
    100% {
      background-position: 0 0;
    }
  }

  .flip-card {
  background-color: transparent;
  height:  350px;
  width: 300px;
  cursor: pointer;
  z-index: 2;
  perspective: 1000px;
  float: left;
  margin: 30px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition-delay: 0.3s;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background: linear-gradient(0deg, #132942, #11111E );
}

/* Style the back side */
.flip-card-back {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #132942, #11111E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #132942, #11111E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;    
  transform: rotateY(180deg);
}

.flip-card-back h1 {
  color: white;
}
.flip-card-front-text
{
  height: 100%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.flip-card-front-text span
{
  font-family: 'Audiowide', cursive;
  color: white;
  font-size: 2.5em;
}