#faq {
    max-height: 120vh;
    min-height: 60vh;
    height: auto !important;
    color: white;
}

#faq .sectionHead {
    height: auto;
}

.faq-container {
    margin: 5% !important;
    width: auto !important;
}

.faq-container ul li {
    padding: 10px;
    color: black;
    background: white;
    border-radius: 10px;
}

.font-lg {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    #faq {
        height: 60vh;
    }

    .faq-container {
        margin: 15% !important;
        width: auto !important;
    }
}