#faq {
    max-height: 100vh;
    min-height: 60vh;
    height: auto !important;
    color: white;
}

#faq .sectionHead {
    height: auto;
}

.faq-container {
    margin: 5% !important;
    width: auto !important;
}

.faq-container * {
    color: white;
}

@media screen and (max-width: 768px) {
    #faq {
        height: 60vh;
    }

    .faq-container {
        margin: 15% !important;
        width: auto !important;
    }
}