@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


* {
  margin: 0%;
  padding: 0%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --bg-color: linear-gradient(to right, "#402571", "#311F65");
  --typeSpeed: 2.5s;
  --textLength: 9;
}

*:focus {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

.body {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.lotter-bg {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 700px) {
  .lottie-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hidden {
    display: block !important;
  }

  .active {
    display: none !important;
  }
}

.hidden {
  display: none;
}

#preLoader {
  width: 100%;
  height: 100vh;
}

.cp-tag {
  text-decoration: none;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
}

.cp-tag::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: white;
  width: 0%;
  bottom: 20px;
}

.cp-tag:hover::before {
  width: 100%;
}

.cp-tag:hover {
  opacity: 1;
}

.hero-heading {
  color: white;
  font-family: "Orbitron", sans-serif;
}

.heading-title {
  font-family: monospace;
  position: relative;
}

.heading-title::before,
.heading-title::after {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.heading-title::before {
  background-image: linear-gradient(
    to right,
    rgba(64, 37, 113, 1),
    rgba(51, 32, 102, 1)
  );
  animation: animateTyping var(--typeSpeed) steps(var(--textLength)) forwards;
}

.heading-title::after {
  width: 0.125em;
  background: white;
  animation: animateTyping var(--typeSpeed) steps(var(--textLength)) forwards,
    blink 2.5s steps(var(--textLength)) forwards;
}

@keyframes animateTyping {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

/* Navbar-mb*/
.nav-mb {
  position: fixed;
  top: 0;
}

.a-tag {
  text-decoration: none;
  color: #1e1e23;
  opacity: 1;
  font-family: "work sans", sans serif;
  font-size: 1.6em;
  font-weight: 400;
  transition: 200ms;
}

.a-tag:hover {
  opacity: 0.5;
  color: #512e7f;
  text-decoration: none;
}

ul {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.content {
  border: 1px solid #36383f;
  border-radius: 20px;
  width: 100%;
  height: 91%;
  background-color: #f5f6fa;
}

nav {
  height: 65px;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 15 !important;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  background: white;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 220px;
  height: 100vh;
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.sectionHead {
  font-size: 2em;
  color: black;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5%;
  background-color: transparent;
}
.sectionHeadW {
  font-size: 2em;
  color: white;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5%;
  background-color: transparent;
}

#navbarMain {
  transition: all 0.5s ease-out;
}

.background-xenith {
  background-color: rgba(37, 11, 85, 1);
  transition: all 0.8s ease-in;
}

.c-white {
  color: white !important;
  transition: all 0.8s ease-in;
}

#pos-rel-1 {
  max-height: 110vh;
  overflow: hidden;
}

#about {
  height: 50vh;
  overflow: hidden;
  padding: 5%;
}

#event {
  height: 145vh;
  overflow: hidden;
  padding: 5%;
  background-color: whitesmoke;
}

.event-card {
  height: 40vh;
  margin: 0% 3%;
}

#timeline {
  height: 150vh;
  overflow: hidden;
  padding: 5%;
}

#team {
  height: 90vh;
  overflow: hidden;
  padding: 5%;
  background-color: whitesmoke;
}

.section-text {
  margin: 0% 5%;
}

#team-slider
{
  padding: 10% 5%;
  margin-top: 3%;
}

.team-members
{
    width: 45vh;
    height: 45vh;
    margin: 3%;
    border-radius: 50%;
}

.team-name
{
  font-family: 'Moon Dance', cursive;
  font-size: 3em;
  font-weight: bolder;
}

.uk-card-body p{
  font-size: 1.2em;
  font-family: 'Arvo', serif;
}

@media only screen and (max-width: 700px) {
  #about {
    min-height: 130vh;
    overflow: hidden;
  }

  #event {
    height: 330vh;
    overflow: hidden;
    background-color: whitesmoke;
    padding: 5%;
  }

  #team {
    height: 100vh;
    overflow: hidden;
    padding: 5%;
    background-color: whitesmoke;
  }

  .event-card {
    height: 100vh;
    margin: 0% 3%;
  }

  #timeline {
    min-height: 200vh;
    overflow: hidden;
    padding: 5%;
  }
}

@media only screen and (max-width: 1000px) {
  #about {
    height: 110vh;
    overflow: hidden;
  }

  #event {
    height: 330vh;
    overflow: hidden;
    background-color: whitesmoke;
    padding: 5%;
  }

  .event-card {
    height: 100vh;
    margin: 0% 3%;
  }

  #timeline {
    height: 170vh;
    overflow: hidden;
    padding: 5%;
  }

  #team {
    height: 100vh;
    overflow: hidden;
    padding: 5%;
    background-color: whitesmoke;
  }

}
